<!--include header-->
<%- include('include/_header')%>
    <!--include header-->

    <main id="site-main">
        <div class="container" id="home">

            <!--update item form-->
            <form id="index">
                <div class="form-group">
                    <button type="button" class="btn text-dark update">Index</button>
                </div>
            </form>
            <form id="search">
                <div class="form-group">
                    <button type="button" class="btn text-dark update">Search by Unique Code</button>
                </div>
            </form>
            <form id="change">
                <div class="form-group">
                    <button type="button" class="btn text-dark update">Change the amount</button>
                </div>
            </form>

        </div>
    </main>

    <!--include header-->
    <%- include('include/_footer')%>
        <!--include header-->